# For full config options, check the docs:
#    docs.serverless.com

service: mmultiply

provider:
  name: aws
  runtime: python2.7
  stage: prod
  region: eu-central-1
  profile: serverless-admin
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "s3:ListBucket"
      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" }]]}
    - Effect: "Allow"
      Action:
        - "s3:*"
      Resource:
        - "*"
    - Effect: "Allow"
      Action:
        - "lambda:InvokeFunction"
      Resource:
        - "*"
    - Effect: "Allow"
      Action:
        - "states:*"
      Resource:
        - "*"
    - Effect: "Allow"
      Action:
        - "iam:PassRole"
      Resource:
        - "arn:aws:iam::146904559692:role/mmultiply-prod-eu-central-1-lambdaRole"


# you can add packaging information here
package:
  individually: true
  exclude:
    - jupyter-notebooks/**
    - events/**
    - README.md
    - preliminary-results.md
    - lib/**
    - numpy*/**
    - scikit_learn-0.18.2.dist-info/**
    - scipy*/**
    - sklearn/**
    - test-files/**
    - strassen-test-script.py
    - state-machines/**
    - data/**
    - benchmarks/**
    - floatrix.*
#  artifact: my-service-code.zip

functions:
  floatrix:
    handler: floatrix.handler
    package:
      include:
        - lib/**
        - numpy/**
        - numpy-1.13.0-py2.7.egg-info/**
        - floatrix.*
    memorySize: 1536
    timeout: 300

  strassen:
    handler: strassen.handler
    package:
      include:
        - lib/**
        - numpy/**
        - numpy-1.13.0-py2.7.egg-info/**
        # - scikit_learn-0.18.2.dist-info/**
        # - scipy/**
        # - scipy-0.19.0-py2.7.egg-info/**
        # - sklearn/**
    memorySize: 1024
    timeout: 300

  # MULTI LAMBDA Design
  # FOR STEP FUNCTION

  strassen-intermediate:
    handler: strassen-services.intermediate
    package:
      include:
        - lib/**
        - numpy/**
        - numpy-1.13.0-py2.7.egg-info/**
    memorySize: 1024
    timeout: 300

  strassen-collector:
    handler: strassen-services.collect
    package:
      include:
        - lib/**
        - numpy/**
        - numpy-1.13.0-py2.7.egg-info/**
    memorySize: 1024
    timeout: 300

  # MULTI UNIT of MULTI LAMBDAs Design
  # FOR STEPFUNCTIONS THAT LOAD ONLY NECESSARY PARTITIONS

  multi-unit-multiplication:
    handler: multi-unit-multiplication.handler
    memorySize: 1024
    timeout: 300

  unit-accumulator:
    handler: unit-accumulator.accumulate
    package:
      include:
          - lib/**
          - numpy/**
          - numpy-1.13.0-py2.7.egg-info/**
    memorySize: 1536
    timeout: 300

  strassen-split-intermediate:
    handler: strassen-split-services.intermediate
    package:
      include:
        - lib/**
        - numpy/**
        - numpy-1.13.0-py2.7.egg-info/**
    memorySize: 1024
    timeout: 300

  strassen-split-collector:
    handler: strassen-split-services.collect
    package:
      include:
        - lib/**
        - numpy/**
        - numpy-1.13.0-py2.7.egg-info/**
    memorySize: 1024
    timeout: 300


#    The following are a few example events you can configure
#    NOTE: Please make sure to change your handler code to work with those events
#    Check the event documentation for details
#    events:
#      - http:
#          path: users/create
#          method: get
#      - s3: ${env:BUCKET}
#      - schedule: rate(10 minutes)
#      - sns: greeter-topic
#      - stream: arn:aws:dynamodb:region:XXXXXX:table/foo/stream/1970-01-01T00:00:00.000

# you can add CloudFormation resource templates here
# resources:
 # Resources:
   # NewResource:
     # Type: AWS::S3::Bucket
     # Properties:
       # BucketName: jmue-matrixes
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"

# resources:
#   Resources:
#     fuckOffPermission:
#       Type: AWS::IAM::Role
#       Properties:
#         RoleName: fuckOffPermission
#         AssumeRolePolicyDocument:
#           Version: "2012-10-17"
#           Statement:
#             - Effect: "Allow"
#               Principal:
#                 Service:
#                   - "states.eu-central-1.amazonaws.com"
#               Action: "sts:AssumeRole"
